.DS_Store*
/node_modules
/build
.vscode
.env*
yarn.lock

/json
/api/json
/util/json
/token/json
/hardhat/json

/hardhat/contracts*
/hardhat/contracts*
/hardhat/artifacts*
/hardhat/cache*

package-lock.json