.DS_Store*
/node_modules
/build
.vscode
.env*
yarn.lock

/json
/util/json
/token/json

/ethereum-mainnet
/ethereum-mainnet-contracts
/vanity-address-generator/artifacts*
/vanity-address-generator/cache*
package-lock.json